html{
  font-family: 'Chela One', cursive;
  background: #232020;
  color: #e7dfc6;
  border: 50px solid #88ab75;
  border-top: 0px;
  margin: 0px;
  text-align: center;
}

p{
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

h1{
  font-size: 3em;
}

form{
  font-size: 1.5em;
  margin-top: 3em;
  margin-bottom: 3em;
}

#submit{
  border: 2px solid beige;
  background: #e8bc84;
  height: 7em;
  width: 10em;
  margin: 2%;
  border-radius: 10%;
}